################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RabbitMQPractice/RabbitMQPractice/obj
/RabbitMQPractice/.vs/RabbitMQPractice/v17/.suo
/RabbitMQPractice/RabbitMQReceive/obj
